body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

main {
  flex: 1;
  margin: 10%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.top-row {
  display: flex;
  justify-content: space-around;
}

.bottom-row {
  display: flex;
  justify-content: space-around;
}

.item {
  padding: 20px;
}

.link-title {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: gainsboro;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.imagem-logo {
  width: 88px;
  height: 60px;
}

.logo {
  margin-right: 10px;
}

.title {
  font-size: 24px;
}
